.git
.github
**/node_modules
client/.env
client/dist
client/build
.env
server/dev.env
server/test.env
server/staging.env
server/public
server/logs
server/backup
server/localstack
server/database/seeds/data
server/.vscode
examples
*.md
Dockerfile
docker-compose*.yml
