node_modules/
**/node_modules/

.env
**/.env
**/*.env

client/build/
client/dist/


server/logs/
server/localstack/
server/database/seeds/data/
server/backup/
server/.vscode/*
server/public
.DS_Store
coverage/