name: Node.js tests

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17.5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: "123456789"
          POSTGRES_DB: germany-assist-testing
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: "npm"

      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm install

      - name: Run tests
        env:
          ENV_IS_LOADED: "true"
          WORKFLOW_TEST: "true"
          NODE_ENV: "test"
          SERVER_PORT: "3000"
          ACCESS_TOKEN_SECRET: "testSecret"
          REFRESH_TOKEN_SECRET: "refSecret"
          ACCESS_TOKEN_EXPIRE_DURATION: "15m"
          REFRESH_TOKEN_EXPIRE_DURATION: "7d"
          REFRESH_COOKIE_AGE: "604800000"
          HASH_ID_SALT: "A!S@F#G$654321"
          FRONTEND_URL: "localhost:3001"
          LOG_LEVEL: "debug"
          DB_USERNAME: "postgres"
          DB_PASSWORD: "123456789"
          DB_NAME: "germany-assist-testing"
          DB_HOST: "127.0.0.1"
          DB_DIALECT: "postgres"
          DB_PORT: "5432"
          REDIS_HOST: "127.0.0.1"
          REDIS_PORT: "6379"
          REDIS_PASSWORD: ""
          STRIPE_SK: "********************************************************************************"
          STRIPE_WEBHOOK_SECRET: "********************************************************************************"
          AWS_ACCESS_KEY_ID: "test"
          AWS_SECRET_ACCESS_KEY: "test"
          AWS_REGION: "us-east-2"
          S3_BUCKET_NAME: "my-bucket"
          S3_ENDPOINT: "http://localhost:4566"
          SIGN_URL_EXPIRATION: "600"
        run: npm run workflowTest
